{% extends "layouts/base1.html" %}

{% load crispy_forms_tags %}

{% block title %} {{page_title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block inner-content %}
	<div class="card border-0 p-2 p-md-3 p-lg-5">
		<div class="card-header bg-white border-0 text-center">
			<h2>{{header}}</h2>
			<p>{{sub_header}}</p>
		</div>
		<div class="col-12 mb-5 mb-lg-0">
			<div class="card shadow text-center">
				<!-- Header -->
				<div class="card-header bg-white p-3" hx-get="{% url 'records:inline_edit_family' family_pk=object.pk  %}" hx-swap="outerHTML">
					<div class="table-responsive-sm">
						<table class="table table-hover">
							<tr>
								<td>Name</td>
								<td>{{ object.name }}</td>
							</tr>
							<tr>
								<td>Zip Code</td>
								<td>{{ object.zip_code }}</td>
							</tr>
						</table>
					</div>
					<div class="d-grid"><a class="btn btn-primary animate-up-1">Edit <span class="fas fa-edit"></span></a></div>
				</div>
				<!-- End Header -->
				<!-- Content -->
				<div class="card-body">
					<h2>Children</h2>
					<ul class="list-unstyled mb-4">
						{% for kid in kids %}
							<li class="list-item pb-3">
								{{kid.age}}yr old {{kid.gender|default:""}}
								<a href="{% url 'records:deletekid' pk=kid.pk %}">
									<span class="fas fa-trash mx-5"></span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<div class="d-grid"><a hx-get="{% url 'records:inline_add_kid' family_pk=object.pk  %}" hx-swap="outerHTML" class="btn btn-primary animate-up-1">Add A Kid</a></div>
				</div>
				<!-- End Content -->
			</div>
		</div>
	</div>



{% endblock inner-content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% endblock javascripts %}
