{% extends "layouts/base1.html" %}
{% load crispy_forms_tags %}

{% block title %} {{page_title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block inner-content %}

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<form method="post">{% csrf_token %}
						<h2>Are you sure you want to delete "{{ object }}"?</h2>
						<input type="submit" class="btn btn-primary" value="Confirm">
					</form>
				</div>
			</div>
	</div>

{% endblock inner-content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
